.clj-kondo
.calva
.lsp
.vscode
.cpcache
*.DS_Store
.cpcache
.shadow-cljs
shadow-cljs_example_example.edn
node_modules
frontend/package-lock.json
frontend/shadow-cljs_example.edn
frontend/public/js/**
server/master.p
server/passwords.db
server/static/js/cljs-runtime
